# Solution
.vs/
.DS_Store

# sample code
/maui-samples-main/

# TestMauiSample
TestMauiSample/bin/
TestMauiSample/obj/
TestMauiSample/.vs/

# UiLabel
UiLabel/bin/
UiLabel/obj/
UiLabel/.vs/

# UiButton
UiButton/bin/
UiButton/obj/
UiButton/.vs/

# UiEntry
UiEntry/bin/
UiEntry/obj/
UiEntry/.vs/

# UiAnimation
UiAnimation/bin/
UiAnimation/obj/
UiAnimation/.vs/

# UiBrush
UiBrush/bin/
UiBrush/obj/
UiBrush/.vs/

# UiStack
UiStack/bin/
UiStack/obj/
UiStack/.vs/

# UiGrid
UiGrid/bin/
UiGrid/obj/
UiGrid/.vs/

# UiFlex
UiFlex/bin/
UiFlex/obj/
UiFlex/.vs/

# UiNavigation
UiNavigation/bin/
UiNavigation/obj/
UiNavigation/.vs/

# UiPopup
UiPopup/bin/
UiPopup/obj/
UiPopup/.vs/

# UiGraphics
UiGraphics/bin/
UiGraphics/obj/
UiGraphics/.vs/

# UiTheme
UiTheme/bin/
UiTheme/obj/
UiTheme/.vs/

# UiListView
UiListView/bin/
UiListView/obj/
UiListView/.vs/

# UiCollectionView
UiCollectionView/bin/
UiCollectionView/obj/
UiCollectionView/.vs/





